<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EchotagDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B80177B1F13C20A00504F49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B8017941F13C20A00504F49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B80179F1F13C20A00504F49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
